# Jekyll & Site builds
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Dependencies & Environments
vendor/
__pycache__/

# Document formats
*.ppt
*.doc
*.pdf

# Python files
*.py

# Claude & VS Code settings
.claude*
CLAUDE.md
.vscode/

# Script and Data folders
_*/
_script/
_script*
__datafile*

_depreciated/